.botonb {
  width: 100px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  text-decoration: solid;
}

.boton-enviar {
  @extend .botonb;
  background-color: rgb(25, 196, 25);
}

.boton-resetear {
  @extend .botonb;
  background-color: rgb(250, 44, 44);
}
